# MacOS
.DS_Store

# IDEs
.idea

# python
__pycache__/
*.pyc
*.egg-info
sdk_mock/build
.coverage
coverage.coverage
coverage.xml
poetry.toml

# django
static

# linters
.ruff_cache
.mypy_cache/

# node.js
node_modules/
